/* Tema Claro */
.claro {
    background-color: #ff4c4c; /* Cor de fundo do modo claro */
    color: black; /* Cor do texto do modo claro */
}

.claro .container {
    background-color: rgb(209, 8, 8); /* Cor de fundo do container no modo claro */
}

.claro .area-busca button {
    background-color: rgb(255, 57, 57); /* Cor do botão no modo claro */
}

/* Tema Escuro */
.escuro {
    background-color: black; /* Cor de fundo do modo escuro */
    color: white; /* Cor do texto no modo escuro */
}

.escuro .container {
    background-color: #333; /* Cor de fundo do container no modo escuro */
}

.escuro .area-busca input,
.escuro .area-busca button {
    background-color: #444; /* Cor do fundo do input e botão no modo escuro */
    color: white; /* Cor do texto no input e botão no modo escuro */
}

/* Estilo geral */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff;
    padding: 20px;
}

.container {
    background-color: rgb(209, 8, 8); /* Cor de fundo do container */
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
    padding: 30px;
    width: 350px;
    text-align: center;
    position: relative;
    font-size: 16px;
    overflow: hidden;
}

.container h1 {
    margin-bottom: 16px;
    font-size: 28px;
}

.imagem-pokemon {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
    border-radius: 50%;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    object-fit: contain;
}

.info-pokemon {
    font-size: 18px;
    color: aliceblue;
}

.info-pokemon p {
    margin: 7px;
}

.area-busca {
    margin-top: 20px;
}

.area-busca input {
    padding: 10px;
    border: 0;
    border-radius: 8px;
    width: 85%;
    margin-bottom: 10px;
    font-size: 15px;
}

.area-busca button {
    width: 85%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    border: 0;
    font-size: 15px;
    color: white;
    background-color: rgb(255, 57, 57);
    cursor: pointer;
    transition: 0.3s, ease, transform 0.3s ease;
}

.area-busca button:hover {
    background-color: #ff4c4c;
    color: rgb(255, 221, 221);
    transform: scale(1.03);
}

.chip-tipo {
    display: inline-block;
    margin: 5px;
    background-color: white;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 15px;
}